/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2015, 10:08:44 PM
    Author     : Chuck
*/


html{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #827d7d;

}

body h1{


}
.main{
    background-color:#fff;
    border: solid thin #2a3542;
    width:66%;
    border-radius: 4%;
    margin-left: auto;
    margin-right:auto;
    clear:both;
    border-radius: 15px 15px;
    padding: 0 2%;
}

.wrap {
    overflow: hidden;
    margin: 10px;
    clear:both;
}
.teamshoplogo{
    width:48%;
    margin-left: auto;
    margin-right:auto;
    float:left;
    position:absolute;
}
.teamshoplogin{
    width:48%;
    margin-left: auto;
    margin-right:auto;
    float:left;
    position:absolute;
}
.header{
    width:100%;
    height:5%;
    float:left;
    text-align:center;
}
.leftlogo{  
    height:10%;
    width:50%;
    float:left;
    padding-top: 40px;
}
.rightlogo{
    height:10%;
    width:50%;
    float:left;
    padding-top: 40px;
}


.cartMain{
    background-color:#fff;
    border: solid thin #2a3542;
    width:33%;
    margin:auto;
    border-radius: 4%;
    clear:both;
    border-radius: 15px 15px;
    text-align: center;
}
.loginMain{
    background-color:#fff;
    border: solid thin #2a3542;
    width:25%;
    margin:auto;
    border-radius: 4%;
    clear:both;
    border-radius: 15px 15px;
    text-align: center;
}

.thankyouMain{
    background-color:#fff;
    border: solid thin #2a3542;
    width:40%;
    margin:auto;
    border-radius: 4%;
    clear:both;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}

.main p{
    text-align:center;
}

.linespace{
    margin-top:30px;
    clear:both;
    position:relative;
}

.center{
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.form{
    text-align: center;
}

.shirt1{
    background-color: #fff;
    width: 20%;
    height: auto;
    margin:0px 2% 2% 16%;
    float: left;
}

.shirt2{
    background-color: #fff;
    width: 20%;
    height: auto;
    margin:0px 2% 2% 2%;
    float: left;
}

.shirt3{
    background-color: #fff;
    border-radius: 1%;
    width: 20%;
    height: auto;
    margin:0px 16% 2% 2%;
    float: left;
}

figure{
    text-align: center;
}

figure img{
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    text-align: center;
}

.right{
    float:right; 
    width:200px;
}   
/** new css **/
.box {
    width: 33%;
    padding-bottom: 25%;
    color: #000000;
    position: relative;
    margin-top:20px;
    margin-bottom:40px;
    float: left;
}
.box2{
    width: 60%;
    padding-bottom: 15%;
    color: #000000;
    position: relative;
    float: left;
}
.box3{
    width: 20%;
    padding-bottom: 15%;
    color: #000000;
    position: relative;
    float: left;
}
.box4{
    width: 100%;
    padding-bottom: 15%;
    color: #000000;
    position: relative;
    float: left;
}

.box5{
    width: 100%;
    padding-bottom: 25%;
    color: #000000;
    position: relative;
    float: left;
    clear:both;
}
.box6{
    width: 100%;
    padding-bottom: 40%;
    color: #000000;
    position: relative;
    float: left;
    clear:both;
}

.innerContent {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #fff;
    padding: 10px;
}


figure{
    text-align: center;
    max-width: 100%;

}
figure img{
    max-width: 100%;

}

form{
    max-width:100%;
}
.form{
    text-align: center;
    max-width: 100%;

}
.form2{
    text-align: center;
    max-width: 100%;

}
.headerleft{
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #fff;
    padding: 10px;
    margin-right:auto;
    margin-left:auto;
}


.headermiddle{
    position: absolute;
    left: 1px;
    right: 1px;
    top: 72px;
    bottom: 1px;
    background: #fff;
    padding: 10px;
    margin-right:auto;
    margin-left:auto;

}

.headerright{
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #fff;
    padding: 10px;
    margin-right:auto;
    margin-left:auto;

}

.button{
    text-align:center;
}
.buyshirt{
    position: absolute;
    left: 10px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: #fff;
    padding: 10px;
}
.liststyle{
    list-style: none;
}

/********** Media Queries **************/

@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .main{
        width:96%;
    }

    .box {
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 10px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        display: box;
        clear: both;
        text-align: center;
    }
    .box2{
        max-width: 100%;
        padding-bottom: 15%;
        color: #000000;
        position: relative;
        float: left;
        clear: both;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        text-align: center;
    }
    .box5{
        margin-bottom: 20px;
    }

    .innerContent{
        max-width:100%;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        display: box;
    }
    .box3{
        max-width: 100%;
        padding-bottom: 15%;
        color: #000000;
        position: relative;
        float: left;
        clear: both;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        display: block;
        text-align: center;
    }
    .form{
        width:100%;
        text-align: center;
        margin: 10px 0px 10px 0px;
        clear: both;
    }
    form2{
        width:100%;
        margin-top: 100px;
    }
    .wrap{
        margin-bottom: 100px;
        clear:both;
    }
    .linespace{
        height:50px;
        background-color: #fff;
    }
    .leftlogo{  
        height:10%;
        width:100%;
        float:left;
        padding-top: 40px;
        margin-right: auto;
        margin-left:auto;
    }
    .rightlogo{
        height:10%;
        width:100%;
        float:left;
        padding-top: 40px;
        margin-right: auto;
        margin-left:auto;
    }
    .thankyouMain{
        width:96%;
    }

}

@media only screen and (max-width : 680px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    main{
        width: 96%;
    }

    .box {
        width: 96%;
        padding-bottom: 55%;
    }
    .form{
        margin-top:5px;
    }
    .form2{
        margin-top:40px;
    }
    .leftlogo{  
        height:10%;
        width:100%;
        float:left;
        padding-top: 40px;
        margin-right: auto;
        margin-left:auto;
    }
    .rightlogo{
        height:10%;
        width:100%;
        float:left;
        padding-top: 40px;
        margin-right: auto;
        margin-left:auto;
    }
    .thankyouMain{
        width:96%;
    }
    .loginMain{
        width:96%;
    }
}

@media only screen and (max-width : 850px) and (min-width : 681px) {
    /* Small desktop / ipad view: 3 tiles */
    main{
        width:96%;
    }

    .box {
        width: 50%;
        padding-bottom: 50%;
    }
    .form{
        margin-bottom:20px;
    }
    .form2{
        margin-top:80px;
    }
    .thankyouMain{
        width:80%;
    }
}


@media only screen and (max-width : 1050px) and (min-width : 851px) {
    /* Small desktop / ipad view: 3 tiles */
    main{
        width:80%;
    }

    .box {
        width: 33.3%;
        padding-bottom: 50%;
    }

    .box2{
        width: 40%;
        padding-bottom: 30%;
        color: #000000;
        position: relative;
        float: left;
    }
    .box3{
        width: 30%;
        padding-bottom: 30%;
        color: #000000;
        position: relative;
        float: left;
    }
    .form{
        margin-bottom:0px;
    }
    .form2{
        margin-top:80px;
    }
       .thankyouMain{
        width:70%;
    }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .main{
        width: 80%;
    }
    .box {
        width: 25%;
        padding-bottom: 35%;
        margin-bottom: 20px;
    }
    .form2{
        margin-top:30px;
    }
}